<div class="w-full  p-10 overflow-x-hidden flex flex-col gap-10 ">

<!--  ناوبار-->

  <app-dashnav title="داشبورد کاربری"></app-dashnav>



  <div class="flex flex-col md:flex-row w-full gap-10">
    <div class="flex flex-col w-full md:w-3/4 gap-10 ">
      <div
        class="shadow-[0_0_20px_0_rgba(0,0,0,0.07)] rounded-xl w-full px-10 py-5 flex flex-col gap-3"
      >
        <p class="text-gray-500 text-sm">
          سلام {{ localStorage.getItem("name") }} 👋
        </p>
        <h1 class="text-2xl font-bold">به سنگ صبور خوش اومدی!</h1>
        <p class="text-gray-500 text-sm">
          سنگ صبور دوست خوبت توی وقتاییه که شاید حالت مثل همیشه خوب نیست. همین
          الان میتونی با سنگ صبور درد و دل کنی تا حالت بهتر بشه.
        </p>
        <div class="w-full flex flex-row justify-end gap-5">
          <p-button (click)="this.router.navigateByUrl('about')" severity="secondary" size="small" variant="outlined"
            >درباره ما</p-button
          >
          <p-button
            (click)="this.router.navigateByUrl('dashboard/chat')"
            severity="primary"
            size="small"
            >شروع چت</p-button
          >
        </div>
      </div>

      <div
        class="shadow-[0_0_20px_0_rgba(0,0,0,0.07)] rounded-xl w-full cursor-pointer"
        (click)="this.router.navigateByUrl('dashboard/test')"
      >
        <img src="image/banner1.jpg" class="rounded-xl hidden md:flex" />
        <img src="image/banner3.jpg" class="rounded-xl flex md:hidden" />

      </div>
    </div>

    <div class="flex flex-col w-full md:w-1/4 gap-10 ">
      <div
        class="shadow-[0_0_20px_0_rgba(0,0,0,0.07)] cursor-pointer rounded-xl w-full"
        (click)="this.router.navigateByUrl('dashboard/chat')"
      >
        <img src="image/banner2.jpg" class="rounded-xl" />
      </div>
      @if (isLoading()) {
        <p>در حال لود</p>
      } @else {
        @if (this.isBlogAdmin){
          <div class="shadow-[0_0_20px_0_rgba(0,0,0,0.07)] p-5 rounded-xl w-full flex flex-col gap-2 font-bold">
                    <p>لیست مقالات</p>
            <button routerLink="/dashboard/posts" class="w-full p-3 rounded-lg text-white cursor-pointer bg-[#15ae5f]">مشاهده و ویرایش</button>
          </div>
        }
      }

      @if (isLoading()) {
        <p>در حال لود</p>
      } @else {
        @if (this.isPromptAdmin){
          <div class="shadow-[0_0_20px_0_rgba(0,0,0,0.07)] p-5 rounded-xl w-full flex flex-col gap-2 font-bold">
            <div class="flex flex-row gap-3">
              <p>تغییر پرامپت</p>
              <p-tag styleClass="text-xs" severity="secondary" value="آزمایشی"></p-tag>
            </div>
            <button routerLink="/changeprompt" class="w-full p-3 rounded-lg text-white cursor-pointer bg-[#15ae5f]">افزودن</button>
          </div>
        }
      }


    </div>
  </div>
</div>


