<div class="h-full w-full flex gap-10 flex-col justify-between p-10">
  <!--  ناوبار بالا-->
  <app-dashnav title="چت با سنگ صبور"></app-dashnav>


  @if (this.isLoading) {
    <p>سلام دنیا</p>

  } @else {
    <div class="flex flex-col gap-4 w-full p-5 max-h-screen overflow-y-auto">
      @for (his of history; track his.chatID) {

        <!-- پیام کاربر -->
        <div class="flex justify-start">
          <div class="bg-blue-500 text-white px-4 py-2 rounded-t-xl rounded-l-xl max-w-[70%]">
            <p>{{ his.userInput }}</p>
            <span class="text-xs text-gray-200">{{ his.date  }}</span>
          </div>
        </div>

        <!-- پیام بات -->
        <div class="flex justify-end">
          <div class="bg-gray-200 text-black px-4 py-2 rounded-t-xl rounded-r-xl max-w-[70%]">
            <p>{{ his.chatResponse }}</p>
            <span class="text-xs text-gray-500">{{ his.date  }}</span>
          </div>
        </div>

      }
      <div #bottom></div>

    </div>

    <div class="w-full h-15 gap-10 flex flex-row justify-center items-center">
      <div class="flex flex-row w-4/5  rounded-2xl border-2 border-gray-400 cursor-text">
        <input [(ngModel)]="input" placeholder="متن خود را اینجا وارد کنید" class="focus:outline-none p-5 w-full placeholder:text-gray-400">
      </div>
      <img   (keydown.enter)="sendMessage()" class="cursor-pointer h-10 w-10" src="svg/Map%20Arrow%20Left.svg" (click)="sendMessage()">
    </div>
  }

</div>
