

<div
  class="w-full shadow-[0_0_20px_0_rgba(0,0,0,0.07)] py-5 px-10 md:px-20 rounded-xl flex flex-row-reverse md:flex-row justify-between"
>
  @if (addReq){
    <p routerLink="/addarticle" class="text-sm text-gray-400 underline cursor-pointer">افزودن مقاله</p>
  }
  <p class="font-black">{{title}}</p>

  <img src="svg/Hamburger%20Menu.svg" class="flex md:hidden"  (click)="toggleDrawer()" />
  <img src="svg/Alarm.svg" class="md:flex hidden" />

</div>



<p-drawer [(visible)]="drawerVisible" position="right" header="فهرست" styleClass="font-[IRANSans]">
  <app-sidebar></app-sidebar>
</p-drawer>

