<div class="h-full w-full flex flex-col justify-between p-10">
  <div class="flex flex-col gap-10">

    <!--  ناوبار بالا-->
    <app-dashnav [title]="'آزمون ' + testName"></app-dashnav>



    <div class="flex flex-col justify-center">
      <div class="flex flex-col gap-5 w-full md:w-2/3">
        <p class="bg-gray-50 p-5 font-bold rounded-lg">
          {{ qlist[currentq].text }}
        </p>

        @for (c of qlist[currentq].choices; track c.key) {
          <div class="flex flex-row gap-10 items-center">
            <p-radiobutton
              (onClick)="selectOption(c.key)"
              [value]="c.key"
              [(ngModel)]="answers[currentq]"
            ></p-radiobutton>
            <label>{{ c?.text }}</label>
          </div>
        }
      </div>
    </div>
  </div>

  <div class="w-full flex flex-row justify-around mb-10 md:mb-0">
    @if (currentq==0){
      <p class="cursor-pointer p-3 font-black" (click)="this.router.navigateByUrl('/dashboard/test')">بازگشت</p>
    } @else {
      <p class="cursor-pointer p-3 font-black" (click)="prevQ()">قبلی</p>
    }

    <p>{{ currentq + 1 }} از {{ qcount }}</p>

    @if (currentq + 1 < qcount) {
      <p (click)="nextQ()" class="cursor-pointer p-3 font-black">بعدی</p>
    } @else {
      <p
        class="rounded-md cursor-pointer p-3 bg-[#14ae5c] text-white font-black"
      >
        ارسال پاسخ ها
      </p>
    }
  </div>
</div>


