<div class="flex h-screen w-full flex-col gap-3 p-10">
  <!--  ناوبار بالا-->
  <app-dashnav title="تاریخچه آزمون ها"></app-dashnav>

  <div class="flex flex-row w-full py-2 items-center">
    <p class="text-sm text-gray-400">مجموعا {{ count }} نتیجه یافت شد</p>
  </div>

  @if (isLoading) {
    <div class="flex flex-col gap-5 w-full py-5">
      <p-skeleton height="80px" width="100%"></p-skeleton>
      <p-skeleton height="80px" width="100%"></p-skeleton>
      <p-skeleton height="80px" width="100%"></p-skeleton>
      <p-skeleton height="80px" width="100%"></p-skeleton>
      <p-skeleton height="80px" width="100%"></p-skeleton>
    </div>
  } @else {
    <div class="flex flex-col gap-3 items-center justify-between h-full">
      <div class="flex-col flex gap-5 w-full">
        @for (his of pagedItems; track his.id) {
          <div
            class="flex flex-row w-full rounded-xl shadow-[0_0_20px_0_rgba(0,0,0,0.07)] h-20"
            (click)="isModalOpen = true; selectedItem = his"
          >
            <div
              class="w-2/5 md:w-1/5 bg-[#14AE5C] p-2 rounded-r-xl flex items-center justify-center text-white font-bold text-2xl"
            >
              <p>{{ his.testName }}</p>
            </div>

            <div
              class="w-4/5 grid grid-cols-1 md:grid-cols-5 gap-5 py-3 px-7 rounded-l-xl cursor-pointer"
              routerLink="/"
            >
              <div class="gap-2 hidden md:flex grid- flex-col">
                <label class="text-gray-400 text-xs">تاریخ انجام آزمون:</label>
                <p>{{ his.date }}</p>
              </div>

              <div class="gap-2 hidden md:flex flex-col">
                <label class="text-gray-400 text-xs">شناسه آزمون:</label>
                <p>{{ his.id }}</p>
              </div>

              <div class="gap-2 flex flex-col">
                <label class="text-gray-400 text-xs">نتیجه:</label>
                <p>{{ his.result }}</p>
              </div>

              <div class="gap-2 col-span-2 hidden md:flex flex-col">
                <label class="text-gray-400 text-xs">توضیحات:</label>
                <p>{{ his.detail }}</p>
              </div>
            </div>
          </div>
        }
      </div>

      <div>
        <p-paginator
          [rows]="rows"
          [totalRecords]="count"
          [first]="first"
          (onPageChange)="onPageChange($event)"
          styleClass="flex justify-center "
        >
        </p-paginator>
      </div>
    </div>
  }
</div>

<app-pupup
  [show]="isModalOpen"
  [item]="selectedItem"
  (close)="isModalOpen = false"
></app-pupup>
